{{> header_footer/header}}

<div class="row">
	<div class="col-md-4">
		{{> burger/ordered }}
	</div>
	<div class="col-md-4 picborder">
		<div class="row">
			{{> showImg/burgerImg }}
		</div>
		<div class="row">
			{{> allform/createForm }}
		</div>
	</div>
	<div class="col-md-4">
		{{> burger/devoured }}
	</div>
</div>