{{> header/header}}

<div class="container">
	<div class="row">
		<div class="col-md-4 selectionBox">
			{{> burger/ordered }}
		</div>
		<div class="col-md-4">
			<div class="row">
				{{> image/showimage }}
			</div>
			<div class="row">
				{{> form/create }}
			</div>
		</div>
		<div class="col-md-4 devouredBox">
			{{> burger/devoured }}
		</div>
	</div>
</div>