body{
	text-align: center;
	background-color: #6699ff;
	color:white;
	font-size: 20px;
}

header{
	font-size: 48px;
  	color: white;
	/*text-align:center;*/
}

.burgerImg{
	height:100%;
	width:100%;
}

#btnOrder,
#btnDevour{
	color:black;
}

#burgerName
{
	color:black;
}

#burgerBox
{
	color: black;
	background-color: #ffffcc;
	padding-right:10px;
	padding-left: 10px;
	padding-bottom: 3px;
	padding-top: 3px;	
}

#devouredBurgerBox
{
	color: red;
	background-color: #ffffcc;
	padding-right:10px;
	padding-left: 10px;
	padding-bottom: 3px;
	padding-top: 3px;	
}