body {
    font-family: 'Times New Roman', 'Verdana', 'Helvetica', sans-serif;
    color: black;
    margin: 10px auto;
    text-align: left;
    font-size: 25px;
    background-color: #a8f600;
}

.header {
	font-size: 50px;
  	color: Brown;
	text-align:center;
}

.burgerImg {
	height: 400px;
	width: 276px;
}

#btnOrder,
#btnDevour {
	color:black;
}

#burgerName {
	color:black;
}

#orderedBox {
	color: black;
	background-color: #b4905f;
	padding-right:10px;
	padding-left: 10px;
	padding-bottom: 3px;
	padding-top: 3px;	
}

#devouredBox {
	color: red;
	background-color: #b4905f;
	padding-right:10px;
	padding-left: 10px;
	padding-bottom: 3px;
	padding-top: 3px;	
}