body {
    font-family: 'Times New Roman', 'Verdana', 'Helvetica', sans-serif;
    margin: 10px auto;
    text-align: left;
    font-size: 25px;
    background-color: #a8f600;
}

h1 {
    font-family: 'Kaushan Script', cursive;
    color: orange;
    font-size: 200%;
    padding-bottom: 25px;
}

header {
	font-size: 50px;
	text-align:center;
}

.burgerImg {
	height: 400px;
	width: 276px;
}

#orderedBox {
	color: black;
	background-color: #b4905f;
	padding-right:10px;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;	
}

#devouredBox {
	color: red;
	background-color: #b4905f;
	padding-right:10px;
	padding-left: 10px;
	padding-bottom: 5px;
	padding-top: 5px;	
}